
@font-face {
  font-family: 'NeoSansPro-Medium';
  src: url('NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),  url('NeoSansPro-Medium.woff') format('woff'), url('NeoSansPro-Medium.ttf')  format('truetype'), url('NeoSansPro-Medium.svg#NeoSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
